<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to web page parser</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
#divElement{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
</style>
</head>
<body>
	<div id='divElement'>
		<table border="1" align="center">
			<tr height="100%">
				<td height="100%" width="100%" valign="middle" align="center">
					<form action="#" th:action="@{/parse}"
						th:object="${parsingRequest}" method="post">
						<table>
							<tr>
								<td>URL:</td>
								<td><input type="text" th:field="*{url}" /></td>
								<td><button type="submit">Submit</button></td>
								<td  style="color: red"  th:if="${#fields.hasErrors('url')}" th:errors="*{url}">URL
									Error</td>
							</tr>
						</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
